node_modules/

# build in CI / manually
src/mocap_wrapper/api
web/src/api

**/.idea/
**/__pycache__/
**/.pytest_cache/
**/venv/
**/.env
**/*.lock
**/mirror_cn.py

*.egg-info/
*.log
output/
out/
./test*.py
*.egg-info

gitleaks*.json
.env.*