@import "tailwindcss";
/* @import "@webtui/css"; */
/* @import "@webtui/css/base.css"; */

@layer base {
  :root {
    --background0: transparent;
  }
}

@layer components {
  button,
  [is-~="button"] {
    /* // TODO: color有用，--button-primary没用。可能需要重新定制webtui */
    /* background-color: green !important;
    --button-primary: red !important;
    --button-secondary: white; */
  }

  /* https://csspro.com/css-3d-buttons */
  button {
    padding: 12px 2ch;
    padding-bottom: 18px;
    transition: all 150ms ease-in-out;
    /* border-radius: 1000px; */
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0,
      inset 0px -6px 0px rgba(0, 0, 0, 0.1),
      inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    vertical-align: middle; /* 垂直居中 */
  }

  button:hover {
    filter: brightness(0.98);
  }

  button:active {
    filter: brightness(0.97);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0,
      inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  }
}
